@import "tailwindcss";

@source "../views/**/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";

@theme {
	--font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "@tailwindcss/forms";
